/*Body Background*/

/*All header*/
header {
    background: #1c1c1c;
    min-height: 50px;
    /*Center header in the middle!*/
    margin: 0 auto;
}

header > .icon {
    margin: 5px 4% 5px;
    max-height: 40px;
    float: left;
}

header > nav {
    float: right;
    max-height: 40px;
    margin: 10px;
}

nav >li {
    list-style: disc;
    display: inline;
    margin: auto 20px;
}

header > nav > li > a {
    font-size: large;
    color: white;
    margin-right: 1em;
}

div.container {
    width: 90%;
    margin: 30px auto;
    padding: 10px 15px;
    background-color: whitesmoke;
    border: solid;
    border-color: darkgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}

.container > ul > li {
    list-style: none;
}

.author, .time {
    color: grey;
}

div > p {
    text-indent: 2em;
    line-height: 2em;
}

p.exception {
    text-indent: 0;
    line-height: 2em;
}

h3 {
    color: #6c6c6c;
}

figure {
    border: solid #9a9a9e;
    width: 150px;
    height: 160px;
}

figure > p {
    padding: auto;
    margin: 15px auto;
}

figure > img {
    display: block;
    margin: auto;
}


tr.tableHeader {
    background-color: black;
    color: white;
    font-weight: bolder;
}

tr.tableBottom {
    background-color: grey;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr > th {
    border: 1px solid white;
}

tr > td {
    border: 1px solid grey;
}

form {
    /*Form Outline*/
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding: 1em;
}

form > div > label.alignment {
    /*Set label size and alignment*/
    margin-top: 1em;
    display: inline-block;
    width: 200px;
    text-align: right;
}

input[type='text'], textarea {
    width: 200px;
}

span.info {
    color: grey;
    font-size: 0.8em;
    margin: auto auto auto 205px;
    text-align: left;
}

textarea {
    margin-top: 1.5em;
    width: 400px;
    height: 200px;
}

label.description {
    vertical-align: top;
}

input[type='submit'] {
    width: 100%;
    margin-top: 1em;
    background: blue;
    color: white;
    border: blue solid 1px;
    border-radius: 5px;
    min-height: 40px;
}